@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

    /* Blue UPE */
  --color-blue-upe-600: #2E5DA3;
  --color-blue-upe-700: #1A4081;
  --color-blue-upe-800: #0F2654;

  /* Green UPE */
  --color-green-upe-500: #4CAF50;
  --color-green-upe-600: #388E3C;

  /* Light Blue UPE */
  --color-light-blue-upe-100: #E0F2F7;

  /* Teal UPE */
  --color-teal-upe-500: #14B8A6;

  /* Gray UPE */
  --color-gray-upe-200: #EEEEEE;
  --color-gray-upe-600: #666666;
  --color-gray-upe-800: #333333;

  /* Compatibilidade: nomes simples */
  --color-upe-blue: var(--color-blue-upe-700);
  --color-upe-green: var(--color-green-upe-500);
  --color-upe-light-blue: var(--color-light-blue-upe-100);
  --color-upe-teal: var(--color-teal-upe-500);
}

@theme {
  --color-blue-upe-600: #2E5DA3;
  --color-blue-upe-700: #1A4081;
  --color-blue-upe-800: #0F2654;

  --color-green-upe-500: #4CAF50;
  --color-green-upe-600: #388E3C;

  --color-light-blue-upe-100: #E0F2F7;

  --color-teal-upe-500: #14B8A6;

  --color-gray-upe-200: #EEEEEE;
  --color-gray-upe-600: #666666;
  --color-gray-upe-800: #333333;
}

@theme inline {

  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

     --color-gray-upe-800: #e6e6e6;
    --color-gray-upe-600: #bdbdbd;
    --color-light-blue-upe-100: #0f1720;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
